# Ignore everything
*

# except
# !*/
!.gitignore
!opencv
!opencv/install_deps.sh
!opencv/installer.sh
!opencv/uninstaller.sh
!cuda
!cuda/installer.sh
!cuda/uninstaller.sh
!cuda/.cudarc
!eigen
!eigen/installer.sh
!eigen/uninstaller.sh
!eigen/cmake_test
!eigen/cmake_test/CMakeLists.txt
!eigen/cmake_test/example.cpp